<div class="row h-100">
    <div class="col-1 p-0 bg-light">
        <app-tools></app-tools>
    </div>
    <div class="col-8 p-0 ">
        <app-camera>
            <app-tilemap></app-tilemap>
        </app-camera>
    </div>
    <div class="col overflow-hidden bg-light p-0">
        <section class="w-100 h-50 border-gray p-1">
            <app-layers></app-layers>
        </section>
        <section class="w-100 h-50 border-gray p-1">
            <app-tilesets></app-tilesets>
        </section>
    </div>
</div>
