<div class="layer btn d-flex flex-row justify-content-between align-items-center px-2" 
    (click)="onClick()"
    [ngClass]="{'active': (selectedTilemap$ | async)?.id == layer.id}">
    <small class="layer-title" [ngbTooltip]="layer.name" [openDelay]="500">{{ layer.name }}</small>
    <div class="d-flex flex-row justify-content-between align-items-center gap-2">
        <i class="bi" [ngClass]="layer.visible ? 'bi-eye' : 'bi-eye-slash'" (click)="toggleVisibility()"></i>
        <div ngbDropdown container="body">
            <i ngbDropdownToggle></i>
            <div ngbDropdownMenu class="">
                <button ngbDropdownItem class="btn-sm"(click)="copy()"><small>Clonar</small></button>
                <button ngbDropdownItem class="btn-sm"(click)="remove()"><small>Eliminar</small></button>
                <button ngbDropdownItem class="btn-sm"(click)="moveUp()"><small>Mover Abajo</small></button>
                <button ngbDropdownItem class="btn-sm"(click)="moveDown()"><small>Mover Arriba</small></button>
                <button ngbDropdownItem class="btn-sm"(click)="select()"><small>Seleccionar</small></button>
            </div>
        </div>
        <!-- <i class="bi bi-grip-vertical grab"></i> -->
    </div>
</div>