<ng-container *ngIf="dummyTilemap && layers.length > 0; else noTilemap">
    <app-tilemap-canvas
        [layer]="dummyTilemap"
        [layerType]="layerType.GRID"
    ></app-tilemap-canvas>
    <app-tilemap-canvas
    *ngIf="dummyTilemap; else noTilemap"
    [layer]="dummyTilemap"
    [layerType]="layerType.SELECT"
    ></app-tilemap-canvas>
    <app-tilemap-canvas
        *ngIf="dummyTilemap; else noTilemap"
        [layer]="dummyTilemap"
        [layerType]="layerType.HOVER"
    ></app-tilemap-canvas>
</ng-container>
<ng-template #noTilemap>
    <div
        class="d-flex flex-column justify-content-center align-items-center h-100"
    >
        <small class="text-muted">Deberias crear primero una capa 🌵</small>
    </div>
</ng-template>
