<ng-container *ngIf="dummyTilemap; else noTilemap">
    <app-tilemap-canvas
        [layer]="dummyTilemap"
        [isGridLayer]="true"
    ></app-tilemap-canvas>
    <div style="position: relative;">
        <ng-container
            *ngFor="let tilemap of layers; let i = index; trackBy: trackByTilemap"
        >
            <app-tilemap-canvas
                [layer]="tilemap"
                [style.z-index.px]="-i"
                [hidden]="!tilemap.visible"
            ></app-tilemap-canvas>
        </ng-container>
    </div>
    <app-tilemap-canvas
        *ngIf="dummyTilemap; else noTilemap"
        [layer]="dummyTilemap"
        [isHoverLayer]="true"
    ></app-tilemap-canvas>
</ng-container>
<ng-template #noTilemap>
    <div
        class="d-flex flex-column justify-content-center align-items-center h-100"
    >
        <small class="text-muted">Deberias crear primero una capa 🌵</small>
    </div>
</ng-template>
