<h6 class="m-0">Tilesets</h6>
<div class="d-flex flex-row align-items-center justify-content-center">
    <div
        class="h-100 w-100 d-flex flex-row flex-nowrap overflow-auto flex-grow-1 ps-2 gap-2"
        style="background-color: rgba(182, 182, 182, 0.3);"
    >
        <ng-container *ngIf="(tilesets$ | async)?.length; else noTilesets">
            <app-tileset
                *ngFor="let tileset of tilesets$ | async"
                [title]="tileset.title"
                (onClick)="showTiles(tileset)"
                (onDelete)="removeTiles(tileset)"
            ></app-tileset>
        </ng-container>
        <ng-template #noTilesets>
            <small>No se ha cargado ningun <strong>tileset</strong>.</small>
        </ng-template>
    </div>
    <div class="text-center flex-shrink-1 flex-fill">
        <app-tileset-modal></app-tileset-modal>
    </div>
</div>
<section class="w-100 h-75 overflow-auto" style="max-height: 45vh;">
    <div
        class="d-flex flex-row align-items-center justify-content-start flex-wrap"
    >
        <div *ngFor="let tile of tiles">
            <div class="position-relative" style="width: 48px; height: 48px;">
                <img
                    [src]="tile.image"
                    width="48"
                    height="48"
                    class="tile top-0 left-0 position-absolute"
                    (click)="setTile(tile)"
                    (contextmenu)="setTile(tile, true)"
                />
                <div
                    class="top-0 left-0 text-warning position-absolute fw-bold text-center"
                    style="
                        background-color: rgba(50, 50, 50, 0.5);
                        width: 16px;
                        height: 16px;
                        font-size: 10px;
                    "
                >
                    {{ tile.id }}
                </div>
            </div>
        </div>
    </div>
</section>
